/exchange-connector-service/.env
/exchange-connector-service/node_modules

/market-data-service/.env
/market-data-service/node_modules

/order-history-service/.env
/order-history-service/node_modules

/order-service/.env
/order-service/node_modules

/search-service/.env
/search-service/node_modules

/stock-exchange/.env
/stock-exchange/node_modules

/user-service/.env
/user-service/node_modules

/watchlist-service/.env
/watchlist-service/node_modules

/client/.env
/client/node_modules
/client/.next